
body,html
{
    background-color: darkgray
}

.container
{
    width: 600px;
    height: 450px;
    border: 1px solid blue;
    margin: 100px auto;
   /* margin-top: 150px;*/
    background-color: #9DD2EA;
    border-radius: 15px;
    padding: 15px;
    box-shadow: -4px 4px 14px;
    position: relative;
}
#score
{
    
    border: 1px solid #3affa3;
    font-size: 15px;
    position: absolute;
    background-color: #3affa3;
    box-shadow: 0px 1px 5px;
    left: 500px;
    font-family:sans-serif;
    padding: 3px;
    border-radius: 8px;
}
#try
{
    border: 1px solid #f22929;
    background-color: #f22929;
    position: absolute;
    left: 260px;
    padding: 3px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    box-shadow: 0px 1px 5px;
    color: aliceblue;
    display: none;
    
}
#correct
{
    display: none;
    border: 1px solid #f22929;
    background-color: #43f128;
    position: absolute;
    left: 250px;
    padding: 3px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    box-shadow: 0px 1px 5px;
    color: aliceblue;
    
}
#qtn
{
     width: 450px;
    height: 150px;
    border: 1px solid blue;
    margin: 50px auto 10px auto;
   /* margin-top: 150px;*/
    background-color: #80c3f7;
    border-radius: 15px;
    padding: 15px;
    box-shadow: -4px 4px 14px;
    position: relative;
    text-align: center;
    font-size: 70px;
    font-family: cursive , sans-serif; 
    
}
#note
{
     width: 450px;
    height: 20px;
    border: 1px solid blue;
    margin: 10px auto 10px auto ;
   /* margin-top: 150px;*/
    background-color: #80c3f7;
    border-radius: 15px;
    padding: 15px;
    box-shadow: -4px 4px 14px;
    position: relative;
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
    color: black;
}
.option
{
    position: relative;
    margin-left: 90px ;
    position: relative;
    transition:  all 0.12s;
}

#option1
{
    width: 100px;
    height: 60px;
    border: 1px solid white;
    position: absolute;
    background-color: #ffffff;
    text-align: center;
    font-size: 25px;
    padding-top: 40px;
    box-shadow: 0px 5px 5px;
    border-radius: 5px;
    cursor: pointer;
}
#option2
{
    width: 100px;
    height: 60px;
    border: 1px solid white;
    position: absolute;
    left: 110px;
    background-color: #ffffff;
    text-align: center;
    font-size: 25px;
    padding-top: 40px;
    box-shadow: 0px 5px 5px;
    border-radius: 5px;
    cursor: pointer;
}
#option3
{
    width: 100px;
    height: 60px;
    border: 1px solid white;
    position: absolute;
    left: 220px;
    background-color: #ffffff;
    text-align: center;
    font-size: 25px;
    padding-top: 40px;
    box-shadow: 0px 5px 5px;
    border-radius: 5px;
    cursor: pointer;
}
#option4
{
    width: 100px;
    height: 60px;
    border: 1px solid white;
    position: absolute;
    left: 330px;
    background-color: #ffffff;
    text-align: center;
    font-size: 25px;
    padding-top: 40px;
    box-shadow: 0px 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    
}
#start
{
     
     
    border: 1px solid #3affa3;
    font-size: 15px;
    position: absolute;
    background-color: #CEE9F5;
    box-shadow: 0px 1px 5px;
    top: 440px;
    left: 280px;
    font-family:sans-serif;
    padding: 3px;
    border-radius: 8px;
    font-weight: bold;
    font-family: sans-serif;
    background-color: #ffffff;
}
#option1:hover
{
   background-color: #9DD2EA;
    box-shadow: 0px 5px 5px purple;
}
#option2:hover
{
   background-color: #9DD2EA;
    box-shadow: 0px 5px 5px purple;
}
#option3:hover
{
   background-color: #9DD2EA;
    box-shadow: 0px 5px 5px purple;
}
#option4:hover
{
   background-color: #9DD2EA;
    box-shadow: 0px 5px 5px purple;
}
#option1:active
{
   background-color: #9DD2EA;
    box-shadow: 0px 0px 0px purple;
    top: 5px;
}
#option2:active
{
   background-color: #9DD2EA;
    box-shadow: 0px 0px 0px purple;
    top: 5px;
}
#option3:active
{
   background-color: #9DD2EA;
    box-shadow: 0px 0px 0px purple;
    top: 5px;
}
#option4:active
{
   background-color: #9DD2EA;
    top: 5px;
    box-shadow: 0px 0px 0px purple;
}


#start:hover
{
 cursor: pointer;
    background-color: #9DD2EA;
    box-shadow: 0px 5px 5px purple;
}
#start:active
{
   background-color: #9DD2EA;
    top: 445px;
    box-shadow: 0px 0px 0px ;
}

#time
{
    width: 150px;
    height: 25px;
    background-color: burlywood;
    border: 1px solid;
    position: absolute;
    left: 450px;
    top: 440px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px ;
    font-weight: bold;
    display: none;
    
}
#gameover
{
    width: 400px;
    height: 100px;
 background-color: coral;
    position: absolute;
    top: 120px;
    text-align: center;
    padding: 100px;
    font-size: 40px;
    color: white;
    display: none;
    
}
